{% load static %}
<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Accordion</title>
  <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
  <link rel="stylesheet" href="{% static 'style.css' %}">
  <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
  
  <script>

    $( function() {
        $('#accordion').accordion({
            header:"> div > h3",
            collapsible:true
        });
        $('button.up').click(function(e) {
            var $el =$(this).parent().parent();
            if ($el.not(':first-child')) {
              $el.prev().before($el);
            }
            e.preventDefault();
            e.stopPropagation();
        });
        $('button.down').click(function(e) {
            var $el =$(this).parent().parent();
            if ($el.not(':last-child')) {
              $el.next().after($el);
            }
            e.preventDefault();
            e.stopPropagation();
        });
        
    } );
  </script>
  
<!-- 
  <style>
    body{
      background-color: rgb(255, 235, 226);
    }

    h3 button{
      float: right;
      margin: 1px;
    }
    button img {
      width: 10px;
    }
    #ol{
      position: relative;
      top: 100px;
      margin: auto;
      width: 50%;
      background-color: rgb(250, 219, 174);
      padding: 10px;
    }
    #title{
      text-align: center;
      color: rgb(255, 142, 77);;
    }
  </style> -->

</head>

<body>

  <div id="title" class="shadow">
    <h1>Story 7</h1>
  </div>
  
    <div id="ol">
      
      <div id="accordion">
        <div class="group">
          <h3>Section 1 
            <button class="up display:block">
            <img class="img-fluid" src="{% static 'up-arrow.png' %}" alt="">
          </button>
          <button class="down display:block">
            <img class="img-fluid" src="{% static 'down-arrow.png' %}" alt="">
          </button>
        </h3>
          <div>
              <p>
              Nama
              </p>
          </div>
        </div>

        <div class="group">
          <h3>Section 2 
            <button class="up display:block">
            <img class="img-fluid" src="{% static 'up-arrow.png' %}" alt="">
          </button>
          <button class="down display:block">
            <img class="img-fluid" src="{% static 'down-arrow.png' %}" alt="">
          </button>
        </h3>
          <div>
              <p>
              Ku
              </p>
          </div>
        </div>

        <div class="group">
          <h3>Section 3 
            <button class="up display:block">
            <img class="img-fluid" src="{% static 'up-arrow.png' %}" alt="">
          </button>
          <button class="down display:block">
            <img class="img-fluid" src="{% static 'down-arrow.png' %}" alt="">
          </button>
        </h3>
          <div>
              <p>
              Ga
              </p>
          </div>
        </div>

        <div class="group">
          <h3>Section 4 
            <button class="up display:block">
            <img class="img-fluid" src="{% static 'up-arrow.png' %}" alt="">
          </button>
          <button class="down display:block">
            <img class="img-fluid" src="{% static 'down-arrow.png' %}" alt="">
          </button>
        </h3>
          <div>
              <p>
              Zel
              </p>
          </div>
        </div>
        
      </div>
    </div>

</body>
</html>