
body{
  background-color: rgb(255, 235, 226);
}

h3 button{
  float: right;
  margin: 1px;
}
button img {
  width: 10px;
}
#ol{
  position: relative;
  top: 100px;
  margin: auto;
  width: 50%;
  background-color: rgb(250, 219, 174);
  padding: 10px;
}
#title{
  text-align: center;
  color: rgb(255, 142, 77);;
}
